<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  {{- partial "head.html" . -}}
  <script>
  document.addEventListener("DOMContentLoaded", function() {
    if (window.self !== window.top) {
      document.body.classList.add('in-iframe');
    }
  });
</script>
  <body dir="{{ .Site.Language.LanguageDirection | default `ltr` }}">
    <!-- {{ $img := resources.Get "images/bg.svg" }}
    <image src="{{ $img.RelPermalink }}" style="position:fixed;max-height:100vh;right:0;top:0;opacity:0.3;z-index:-1;"/> -->
    {{- partial "navbar.html" . -}}
    {{- block "main" . }}{{ end -}}
    {{- if or (eq .Site.Params.footer.enable nil) (.Site.Params.footer.enable) }}
      {{ partial "footer.html" . }}
    {{ end }}
    {{ partial "scripts.html" . }}
  </body>
</html>
