{{ define "main" }}
  <div class='hx-mx-auto hx-flex {{ partial "utils/page-width" . }}'>
    {{ partial "sidebar.html" (dict "context" site.Home) }}
    {{ partial "toc.html" . }}
    <article class="hx-w-full hx-break-words hx-flex hx-min-h-[calc(100vh-var(--navbar-height))] hx-min-w-0 hx-justify-center hx-pb-8 hx-pr-[calc(env(safe-area-inset-right)-1.5rem)]">
      <main class="hx-w-full hx-min-w-0 hx-max-w-6xl hx-px-6 hx-pt-4 md:hx-px-12">
        {{ partial "breadcrumb.html" . }}
        <div class="content">
          <div class="hx-title-wrapper hx-flex hx-justify-between hx-items-center">
            <h1>{{ .Title }}</h1>
            {{ partial "share-buttons.html" . }}
          </div>
          {{ if .Date }}
          <div class="hx-meta">
            <span>{{ .Date | time.Format "January 2, 2006" }}</span>
            <span>
              {{ range .Param "authors" }}
                {{ $name := . }}
                {{ if $name }}
                  •
                  {{ $path := printf "/%s/%s" "authors" ($name | urlize) }}
                  {{ with $.Site.GetPage $path }}
                    <a href={{ .Permalink }}>{{ .Params.name }}</a>
                  {{ end }}
                {{ end }}
              {{ end }}
            </span>
          </div>
          <br>
          {{ end }}
          {{- $tags := .Params.tags -}}
          {{- if $tags -}}
            <small>
            {{ if isset .Params "tags" }} Tags: {{ end }}
            {{- $lastIndex := sub (len $tags) 1 -}}
            {{- range $index, $tag := $tags -}}
              <button type="button" class="not-prose hx-inline-flex hx-items-center hx-rounded hx-gap-2 hx-px-3 hx-py-1 hx-text-xs hx-text-gray-600 dark:hx-text-gray-400 hx-bg-gray-100 dark:hx-bg-neutral-800 dark:hx-border-neutral-800 hx-border hover:hx-border-gray-400 dark:hover:hx-text-gray-50 dark:hover:hx-border-gray-600 hx-transition-all hx-ease-in hx-duration-200" href="{{ $.Site.BaseURL }}tags/{{ $tag | urlize }}"> {{ $tag }}
              </button>
              {{- if ne $index $lastIndex }}&nbsp;·&nbsp;{{ end -}}
            </small>
            {{- end -}}
          {{- end -}}
          {{- $tags := .Params.tags -}}
          {{- if $tags -}}
            <small>
            {{ if isset .Params "tags" }} Tags: {{ end }}
            {{- $lastIndex := sub (len $tags) 1 -}}
            {{- range $index, $tag := $tags -}}
              <button type="button" class="not-prose hx-inline-flex hx-items-center hx-rounded hx-gap-2 hx-px-3 hx-py-1 hx-text-xs hx-text-gray-600 dark:hx-text-gray-400 hx-bg-gray-100 dark:hx-bg-neutral-800 dark:hx-border-neutral-800 hx-border hover:hx-border-gray-400 dark:hover:hx-text-gray-50 dark:hover:hx-border-gray-600 hx-transition-all hx-ease-in hx-duration-200" href="{{ $.Site.BaseURL }}tags/{{ $tag | urlize }}"> {{ $tag }}
              </button>
              {{- if ne $index $lastIndex }}&nbsp;·&nbsp;{{ end -}}
            </small>
            {{- end -}}
          {{- end -}}
          <div class="content">
            {{ .Content }}
          </div>
        </div>
        {{ partial "components/last-updated.html" . }}
        {{ partial "components/pager.html" . }}
        {{ if (eq .Section "docs") }}
          {{ partial "components/comments.html" . }}
        {{ end }}
      </main>
    </article>
  </div>
{{ end }}
