aside {
  --primary-hue: 220deg;
  --primary-saturation: 100%;
}

p { margin-bottom: 10px;  }

ul li { margin: 0 0 10px 0; }

.hx-content-center { align-content: center; }

.content h1 { margin-bottom: 10px; line-height: 3rem }

.hx-title-wrapper { margin: 30px 0 0 0; }

.hx-meta { font-size: 0.85rem;  }

.content h3 { margin: 20px 0 0 0;  }

.hextra-sidebar-collapsible-button {
  display: flex;
  white-space: nowrap;
}

.hextra-sidebar-collapsible-button svg {
  margin-top: 2px;
  margin-left: 5px;
}

.hx-summary {}
.hx-summary h3,
.hx-summary img,
.hx-summary p { margin-top: 0;margin-bottom:0; }
.hx-summary-image {
  min-width:320px;
  max-width:320px;
  margin-right: 1rem;
  margin-left: initial;
}


.hx-card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  justify-content: space-between;
  width: 100%;

}
.hx-card {}
.hx-card h3,
.hx-card img,
.hx-card p { margin-top: 0;margin-bottom:0; }
.hx-card-image {
  max-width: 100%;
  margin: 0;
}
.hx-card h3 { font-size: 18px !important; }
.hx-card-content {}

.signup-button {
  background-color: #fff;
  color: #3BB878;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  text-decoration: none;
}

.signup-button:hover {
  background-color: #f4f4f4;
}

.credit-note {
  color: #dcdcdc;
  margin-top: 5px;
  font-size: 14px;
}

.sidebar-container{
  background-color: hsl(var(--primary-hue) var(--primary-saturation) 39% / 0.05);
}


.pagination.pagination-default {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.pagination.pagination-default .page-item {
}
.pagination.pagination-default .page-item .page-link {
  margin: 0 1px;
  background-color: rgb(255 247 237 / var(--tw-bg-opacity));
  padding: 5px 15px 10px 15px;
  border-radius: 5px;
}
.pagination.pagination-default .page-item:hover .page-link,
.pagination.pagination-default .page-item.active .page-link {
  background-color: hsl(var(--primary-hue) var(--primary-saturation) 94% / var(--tw-bg-opacity));
}

@media (max-width: 1279px) { .hx-card-grid { grid-template-columns: 1fr 1fr 1fr; } }
@media (max-width: 1179px) { .hx-card-grid { grid-template-columns: 1fr 1fr; } }
@media (max-width: 767px) { .hx-card-grid { grid-template-columns: 1fr 1fr; } }
@media (max-width: 640px) { .hx-card-grid { grid-template-columns: 1fr; } }

@media (max-width: 767px) {
  .md\:hx-block { display:block; }
  .sidebar-container { background-color: rgb(255 255 255 / var(--tw-bg-opacity)); }
  .utho-promo a { display: block; }
  .hx-summary h3,
  .hx-summary img,
  .hx-summary p { margin-top: 0;margin-bottom: 20px; }
  .hx-summary-image {
    max-width:100%;
    margin-right: 0;
  }
}
.bordered {
  border: 2px solid #eaeaea !important;
}

/* img:not([class]) {
  border: 2px solid #eaeaea !important;
} */

/* .md\:hx-w-64 {
  width: 20rem;
}

.hx-w-64 {
  width: 20rem;
}

.md\:hx-w-60 {
  width: 16rem;
}

.hx-w-60 {
  width: 16rem;
} */


.utho-img {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}

.content p :where(img):not(:where([class~=not-prose],[class~=not-prose] *)) {
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
}