<div class="utho-promo hx-bg-blue-100 hx-p-6 hx-rounded hx-mt-8 hx-transition-colors hx-bg-primary-100 hx-text-primary-800 contrast-more:hx-border contrast-more:hx-border-primary-500 dark:hx-bg-primary-400/10 dark:hx-text-primary-600 contrast-more:dark:hx-border-primary-500 hx-leading-7">
<a class="hx-font-bold" target="_blank" href="https://console.utho.com/signup?utm_source=docs&coupon=DOCS800">Create an Utho account</a> to try this guide with a $10 credit.
  <a target="_blank" href="https://console.utho.com/signup?utm_source=docs&coupon=DOCS800" class="hx-text-center signup-button">Sign Up</a>
</div>
