{{ define "main" }}
  <div class='hx-mx-auto hx-flex {{ partial "utils/page-width" . }}'>
    {{ partial "sidebar.html" (dict "context" site.Home) }}
    <article class="hx-w-full hx-break-words hx-flex hx-min-h-[calc(100vh-var(--navbar-height))] hx-min-w-0 hx-justify-center hx-pb-8 hx-pr-[calc(env(safe-area-inset-right)-1.5rem)]">
      <main class="hx-w-full hx-min-w-0 hx-max-w-6xl hx-px-6 hx-pt-4 md:hx-px-12">
        <div class="content" id="error-content" style="display: none;">
          <div class="hx-title-wrapper">
            <h1>404 Not Found</h1>
          </div>
          <p>The page you requested cannot be found.</p>
          <p id="error-message"></p>
        </div>
        <script>
          document.addEventListener("DOMContentLoaded", function() {
            var url = window.location.pathname.replace(/\/$/, ""); // Remove trailing slash
            console.log("Requested URL:", url);

            fetch("https://utho.com/docs/urls.json")
              .then(response => {
                if (!response.ok) {
                  throw new Error('Network response was not ok');
                }
                return response.json();
              })
              .then(urls => {
                console.log("Fetched URLs:", urls);

                function findClosestURL(pathname, urls) {
                  const pathParts = pathname.split('/');
                  const lastPart = pathParts.pop();

                  for (let i = 0; i < urls.length; i++) {
                    const url = new URL(urls[i]);
                    const urlParts = url.pathname.replace(/\/$/, "").split('/');
                    const urlLastPart = urlParts.pop();

                    if (urlLastPart === lastPart) {
                      return urls[i];
                    }
                  }
                  return null;
                }

                const closestURL = findClosestURL(url, urls);
                console.log("Closest URL found:", closestURL);

                if (closestURL) {
                  // Perform a 301 redirect
                  window.location.replace(closestURL);
                  window.history.replaceState({}, '', closestURL);
                } else {
                  document.getElementById("error-content").style.display = "block";
                  document.getElementById("error-message").innerHTML = "Page not found. Please check the URL.";
                }
              })
              .catch(error => {
                document.getElementById("error-content").style.display = "block";
                document.getElementById("error-message").innerHTML = "An error occurred. Please try again later.";
                console.error('Error fetching URLs:', error);
              });
          });
        </script>
      </main>
    </article>
  </div>
{{ end }}
