<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var url = window.location.pathname.replace(/\/$/, "");
            console.log("Requested URL:", url);

            fetch("/urls.json")
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(urls => {
                    console.log("Fetched URLs:", urls);

                    function findClosestURL(url, urls) {
                        var urlParts = url.split('/');
                        var lastPart = urlParts.pop(); // Get last part of the URL

                        for (var i = urls.length - 1; i >= 0; i--) {
                            var savedUrlParts = urls[i].split('/');
                            var savedLastPart = savedUrlParts.pop(); // Get last part of the saved URL

                            if (savedLastPart === lastPart) {
                                return urls[i];
                            }
                        }
                        return null;
                    }

                    var closestURL = findClosestURL(url, urls);
                    console.log("Closest URL found:", closestURL);

                    if (closestURL) {
                        // Perform a 301 redirect
                        window.location.replace(closestURL);
                        window.history.replaceState({}, '', closestURL);
                    } else {
                        document.getElementById("error-message").innerHTML = "Page not found. Please check the URL.";
                    }
                })
                .catch(error => {
                    document.getElementById("error-message").innerHTML = "An error occurred. Please try again later.";
                    console.error('Error fetching URLs:', error);
                });
        });
    </script>
        <title>Page Not Found</title>

</head>
<body>
    <h1>404 - Page Not Found</h1>
    <p id="error-message"></p>
</body>
</html>
